.message-sider {
    caret-color: transparent;
    height: 100%;
    background: #fff;
    border-right: 1px solid #e8e8e8;

    .message-sider-title {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #e8e8e8;
    }

    .message-sider-list {
        .msssage-sider-item {
            display: flex;
            padding: 5px;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;

            .avatar {
                width: 20%;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }


            .right {
                display: flex;
                flex-direction: column;
                margin-left: 5px;
                width: 70%;

                .name {
                    max-width: 90%;
                }

                .message {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 90%;
                    font-size: 12px;
                    color: gray;
                    text-overflow: ellipsis;
                }
            }
        }

        .msssage-sider-item:hover {
            background: rgb(115, 103, 240, 0.1);
        }
    }

}



.chatWindow {
    height: 100%;
    caret-color: transparent;

    .topbar {
        display: flex;
        align-items: center;
        padding: 10px;
        background: #fff;
        border-bottom: 1px solid #e8e8e8;

        .avatar {
            margin-right: 20px;
            width: 40px;
        }

        .userinfo {}

        .infoItem {
            font-size: 12px;
            color: gray;
        }
    }

    .message-list {
        height: 65%;
        overflow-y: scroll;
    }

    .inputArea {
        width: 100%;
        border-top: 1px solid #e8e8e8;
    }
}

.message-item-other {
    display: flex;
    padding: 0 10px;
    width: 100%;

    .message-body {
        background: #fff;
        color: #fff;
        border-radius: 8px;
        padding: 5px 10px;
    }


}

.message-item-self {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    width: 100%;

    .message-body {
        background: $primary;
        color: #fff;
        border-radius: 8px;
        padding: 5px 10px;
    }
}