.chatWindow {
    height: 100%;
    caret-color: transparent;

    .topbar {
        display: flex;
        align-items: center;
        padding: 10px;
        background: #fff;
        border-bottom: 1px solid #e8e8e8;

        .avatar {
            margin-right: 20px;
            width: 40px;
        }

        .userinfo {}

        .infoItem {
            font-size: 12px;
            color: gray;
        }
    }

    .message-list {
        background-color: #eeeeee;
        height: 65%;
        overflow-y: scroll;
    }

    .inputArea {
        width: 100%;
        border-top: 1px solid #e8e8e8;
    }
}





.message-item-other {
    display: flex;
    padding: 0 10px;
    width: 100%;

    .message-body {
        background: #fff;
        color: #fff;
        border-radius: 8px;
        padding: 5px 10px;
    }


}

.message-item-self {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    width: 100%;

    .message-body {
        background: $primary;
        color: #fff;
        border-radius: 8px;
        padding: 5px 10px;
    }
}